<% if(errorMessage){ %> 
<% errorMessage.forEach(eMsg=>{ %> 
    <div class="user-message user-message--error"><%= eMsg %></div>
    <% }) %> 
   
<% } %> 
<% if(errorMessageValidator){ %> 
<% errorMessageValidator.forEach(eMsg=>{ %> 
    <div class="user-message user-message--error"><strong><%= eMsg.param %>: </strong><%=  eMsg.msg %></div>
    <% }) %> 
   
<% } %> 
<% if(successMessage){ %> 
    <% successMessage.forEach(sMsg=>{ %> 
        <div class="user-message user-message--success"><%= sMsg %></div>
        <% }) %> 
       
<% } %> 